@font-face {
    font-family: 'SF-Compact-Display-Heavy';
    src: url(../fonts/SF-Compact-Display-Heavy.otf);
    
}

@font-face {
    font-family: 'SF-Compact-Display-Regular';
    src: url(../fonts/SF-Compact-Display-Regular.otf);
    
}

@font-face {
    font-family: 'SF-Compact-Display-Semibold';
    src: url(../fonts/SF-Compact-Display-Semibold.otf);
}

@font-face {
    font-family: 'UniNeueRegular';
    src: url(../fonts/UniNeueRegular.ttf);
}


body {
    margin: auto;
    background-color:  #000000;
    box-sizing: border-box;
    margin: 0 auto;
    width: 320px; 
    opacity: 0.99;
  }



.slider {
    position: relative;
  }
  
.slider input[type="checkbox"] {
  display: none;
}

.slider input[type="checkbox"] + label {
  display: inline-block;
  position: absolute;
  top: 41px;
  left: 48px;
  font-family: 'SF-Compact-Display-Regular';
  font-size: 16px;
  color: white;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s  ease-out;
}


.slider input + label:before {
  content: '';
  position: absolute;
  left: -24px;
}

.slider input + label[for="check3"]:before {
  background-image: url('../images/src/hottest.svg');
  width: 13px;
  height: 15px;
}

.slider input + label[for="check4"]:before {
  background-image: url('../images/src/nearest.svg');
  width: 11px;
  height: 15px;
}

.slider input + label[for="check5"]:before {
  width: 15px;
  height: 13px;
  background-image: url('../images/src/tour.svg');
  background-size: 15px 13px;
  
}

#btn-2:checked ~ label[for="check3"],
#btn-3:checked ~ label[for="check4"],
#btn-4:checked ~ label[for="check5"] {
opacity: 100%;
}

  .image-title {
    position: absolute;
    top: 216px;
    left: 24px;
    font-family: 'SF Compact Display Heavy';  
    line-height: 46.88px;
    font-size: 40px;
    font-weight: bolder;
    max-width: 40% ;
    z-index: 1;
    color: white;
     }

.slider-slides img {
  width: 224px;
  height: 368px;
  object-fit: cover;
}



  #btn-1:checked ~ .image-title {
    top: 180px ;
    left: 22px; 
    font-family:  'UniNeueRegular';
    line-height: 40px;
  }

  #btn-1:checked ~  .image-title::before {
    content: "16"; 
    font-size: 60px;
    
  }

  #btn-1:checked ~  .image-title::after {
      content: " new events";
    }    

  #btn-2:checked  ~  .image-title::after {
      content: "Temple rock";
          }    

  #btn-3:checked ~ .image-title  {
      max-width: 50%;
  }      

  #btn-3:checked  ~  .image-title::after {
            content: "Drop the beat 3";
                     } 

#btn-4:checked ~ .image-title {
  max-width: 60%;
}
                     
 #btn-4:checked  ~  .image-title::after {
            content: "Minsk – Vilnius";
            line-height: 47.73px
            
                               }
          
 .slider a,
 label[for="btn-4"] {
     font-family: 'SF-Compact-Display-Regular';
     display: inline-block;
     position: absolute;
     top: 330px;
     left: 24px;
     text-decoration: none;
     color: #FF781C;
     font-weight: bolder;
     z-index: 1;
 }

 #btn-1:checked  ~  a:first-of-type::after {
    content: "Open map";
  }    

#btn-2:checked  ~  a:nth-of-type(2)::after,
#btn-3:checked  ~  label[for="btn-4"]::after {
    content: "Show details";
        }    

#btn-4:checked  ~  a:nth-of-type(3):after {
          content: "Show tour";
              }    

        .slider input[type="radio"] {
    display: none;
  }
  
  .slider-inner {
    margin-left: 72px;
    margin-top: 24px;
    margin-bottom: 40px;
    overflow: hidden;
    }

 
  .slider-slides {
    display: flex;
    transition: transform 0.8s ease;
   
  }

  .slider-slides img,
  .feed img {
    opacity: 40%;
    border-radius: 8px;
  } 

  .slider-slides img:first-of-type,
  .slider-slides img:last-of-type {
    opacity: 100%;
  }
  
  .slider-slides img {
      margin-right: 10px;
      
    }

    .slider-slides img:last-child {
        margin-left: 20px;
    } 


  .slider-controls {
   position: absolute;
   bottom: -23px  ;
   left: 157px;
    
  }
  
  .slider-controls label {
    display: inline-block;
    margin: 0 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #333333;
    cursor: pointer;
  }

  label[for="btn-4"] {
    display: block;
    margin: 0;
    padding: 0;    
    width: 91px;
    height: 20px;
  }

  #btn-1:checked ~ label[for="btn-4"],
  #btn-2:checked ~ label[for="btn-4"] {
    display: none;
  }  

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"],
#btn-4:checked ~ .slider-controls label[for="btn-3"]
{
  background-color: #FF781C
}

#btn-1:checked ~ .slider-inner .slider-slides
{
    transform: translate(0);
  }
  
 #btn-2:checked ~ .slider-inner .slider-slides {
    transform: translateX(-234px);
  }
  
 #btn-3:checked ~ .slider-inner .slider-slides {
    transform: translateX(-468px);
  }

#btn-4:checked ~ .slider-inner .slider-slides {
  transform: translateX(-722px);
}

  .feed {
    background-color: #151515;
  }
  .feed ul {
    display: block;
    margin: 0;
    padding: 0;
    color: white;
  }

  .feed ul h2 {
    font-family: 'SF-Compact-Display-Heavy';
    font-size: 26px;
    margin: 0;
    padding-top: 39px;
    padding-left: 23px;
    padding-bottom: 25px;
    color: white;
    border-bottom: 1px solid #2A2A2A;
    box-sizing: border-box;
    height: 96px;
   
  }

  .feed ul  li {
    position: relative;
    margin: 0;
    padding: 22px 12px;
    height: 128px;
    list-style: none;
    border-bottom: 1px solid #2A2A2A;
    box-sizing: border-box; 
    
      }

  .feed ul  li figure {
    display: flex;
    align-items: center;
    margin: 0;
    z-index: 0;
   
      }

  

  .feed ul  li figure figcaption {
    margin-left: -20px;
    z-index: 2;
    
  }

 

  .feed ul li cite {
    display: block;
    font-style: normal;
   
    
    
  }

  .feed ul li .title-media {
   font-family: 'SF Compact Display Heavy'; 
   font-size: 18px;
   line-height: 21.09px;
   margin-bottom: 4px;
   font-weight:bolder;
   
  }

  .feed ul li .author {
    font-family: 'SF-Compact-Display-Regular';
    font-size: 14px;
    line-height: 16.41px;
    color: #D5D5D5;
    font-weight: bolder;
   
  }

  .feed ul li.moovie {
    height: 200px;
    
  }

  .feed ul li.moovie figure {
    display: inline-block;
    
      }
      .feed li.moovie figcaption {
        max-width: 75%;   
        margin-left: 61px;
        margin-top: -25px 
      }

      .feed ul li.recommend  {
        position: relative;
        height: 256px;
        padding-left: 23px;
        font-size: 14px;
        line-height: 16,41px;
        box-sizing: border-box;
    }
    .feed ul li.recommend h3 {
      
      margin: 0;
      margin-bottom: 24px;
      color: #FF781C;
         }

    .feed ul li.recommend h3::after {
      content: " recommends an event";
      color: #D5D5D5;
    }
    .feed ul li.recommend figcaption {
     margin-left: -75px;
     margin-top: 15px;
    }

    .feed ul li.recommend .title-event {
      font-family:  'UniNeueRegular';
      font-size: 22px;
      line-height: 25.78px;
      margin-bottom: 30px;
    }

    .feed ul li.recommend .title-event + .author {
      max-width: 60%;
    }

    .feed input {
      display: none;
          } 
    .feed  input + label {
            display: inline-block;
            position: absolute;
            right: 12px;
            top: 27px;
            height: 10px;
            width: 9px;
          }

#check1:checked ~ label[for="check1"],
#check2:checked ~ label[for="check2"] {
   background-image: url(../images/src/check.svg);
}
#check1:checked ~ label[for="check1"] {
  top: 20;
}

.feed .recommend img {
  width: 124px;
  height: 168px;
  object-fit: cover;
  
}

.feed .moovie figure figcaption {
  position: absolute;
}

footer {
  height: 48px;
  padding-top: 7px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.navigation li {
  list-style: none;
  }

  .navigation li a {
    display: inline-block;
  }

.navigation li:first-child a {
  background-image: url(../images/src/footer/feeds.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 22px;
}

.navigation li:nth-child(2) a {
  background-image: url(../images/src/footer/events.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.navigation li:nth-child(3) a {
  background-image: url(../images/src/footer/search.svg); 
  background-repeat: no-repeat;
  width: 29px;
  height: 22.05px;
}

.navigation li:nth-child(4) a {
  background-image: url(../images/src/footer/profile.svg);
  background-repeat: no-repeat;
  width: 27px;
  height: 26px;
}


.navigation li:first-child a,
.navigation li:first-child a:visited {
  background-image: url(../images/src/footer/feeds.active.svg)
}

.navigation li:nth-child(2) a:hover,
.navigation li:nth-child(2) a:visited {
  background-image: url(../images/src/footer/events.active.svg)
}

.navigation li:nth-child(3) a:hover,
.navigation li:nth-child(3) a:visited {
  background-image: url(../images/src/footer/search.active.svg)
}

.navigation li:nth-child(4) a:hover,
.navigation li:nth-child(4) a:visited {
  background-image: url(../images/src/footer/profile.active.svg)
}

footer nav .navigation a{
  transition: all 0.5s ease-in-out;
} 

footer nav .navigation a:hover {
  transform:  scale(1.3);
  
}

.hidden {
  display: none;
}

.feed ul li .transform.addfigure {
  position: absolute;
  left: 140px;
  overflow: hidden;

}
.feed ul li .transform figcaption.addfigcaption {
  display: block;
  min-width: 150%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(../images/src/image-1.svg),
  url(../images/src/image.svg);
  background-position:20px 43px,
  20px 3px;
  background-repeat: no-repeat;
}

#check1:checked ~ label[for="check1"].add {
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  height: 128px;
  background: url(../images/src/Rectangle.svg);
  background-repeat: no-repeat;
   }

   #check1:checked ~ label[for="check1"].add::before {
     position: absolute;
     content: url(../images/src/check.white.svg);
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%)
   }

   /*.media1 {
     position: absolute;
     bottom: -50%;
     opacity: 70%;
     
   }


   