@import 'config';

  @keyframes waves {
    from {
      border: 1px solid $orange;
      width: 0;
      height: 0;
      opacity: 1
    }
    to {
      border: 3px solid $orange;
      width: 20px;
      height: 20px;
      opacity: 0.1
    }
  }

  @keyframes roll {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}